.wrapper
  .side__block
    = render partial: "shared/side"

  .main__block
    .main-header
      .current-group{"data-group_id": "502"}
        %h2.current-group__name 
          = @group.name
        %ul.member-list
          Member：
          %li.member-list__member 
            -@groups.each do |user|
                = user.name
      = link_to "Edit", edit_group_path(@group.id), class: "main-header__edit-btn "
                    
    .main__bottom
      = render partial: 'message', collection: @messages
        
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    
