.wrapper
  .side__block
    = render partial: "shared/side"

  .main__block
    .main-header
      .current-group{"data-group_id": "502"}
        %h2.current-group__name 
          = @group.name
        %ul.member-list
          Member：
          %li.member-list__member 
            -@group.users.each do |user|
              .each-member
                = user.name
            = link_to edit_group_path(@group) do
              .main-header__edit-btn Edit
                    
    .main__bottoms
      .main__bottom
        = render partial: 'message', collection: @messages
        
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'image', class: 'icon'
          = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    

        -# .form
        -#   %form#new_message.new-message{"accept-charset": "UTF-8", action: "messages/new", enctype: "multipart/form-data", method: :post}
        -#     .input-box
        -#       %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        -#       %label.image-label{for: "message_image"}
        -#         %i.fa.fa-image
        -#         %input{name: "utf8", type: "hidden", value: ""}/
        -#         %input{name: "authenticity_token", type: "hidden", value: ""}/
        -#     %input.new-message__submit-btn{name: "Send", name: "commit", type: "submit", value: "Send"}/
    