.wrapper
  .side__block
    = render partial: "shared/sidebar"
  .main__block
    .main-header
      .current-group{"data-group_id": "502"}
        %h2.current-group__name = @group.nam
        %ul.member-list
          Member：
          %li.member-list__member 
            -@group.users.each do |user|
              .each-member
                = user.name
        = link_to "Edit", edit_group_path(@group.id), class: "main-header__edit-btn btn"
                    
    .main__bottoms
      .main__bottom
        .upper-info
          = current_user.name
          %p.upper-info__date 2019/04/14(Sun) 14:41:42
        %p.message__text message

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'
    