.wrapper
  .side__block
    .side-header
      %p.side-header__user-name 
        = current_user.name
      %ul.user-menu
        %li.user-menu__edit-user
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.user-menu__new-group
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
    
    .side__bottoms
      - current_user.groups.each do |group|
        .side__bottom
          = link_to group_messages_path(group) do
            .side__bottoms-group__name
              = group.name
            .side__bottoms-group__message
              = group.show_last_message
  
  .main__block
    .main-header
      .current-group{"data-group_id": "502"}
        %h2.current-group__name team_a
        %ul.member-list
          Member：
          %li.member-list__member jiro
      = link_to edit_group_path(@group) do
        .main-header__edit-btn Edit
                    
    .main__bottoms
      .main__bottom
        .upper-info
          = current_user.name
          %p.upper-info__date 2019/04/14(Sun) 14:41:42
        %p.message__text message
  
    .form
      %form#new_message.new-message{"accept-charset": "UTF-8", action: "messages/new", enctype: "multipart/form-data", method: :post}
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
          %label.image-label{for: "message_image"}
            %i.fa.fa-image
            %input{name: "utf8", type: "hidden", value: ""}/
            %input{name: "authenticity_token", type: "hidden", value: ""}/
        %input.new-message__submit-btn{name: "Send", name: "commit", type: "submit", value: "Send"}/

  