= form_for @group do |f|
  - if @group.errors.any?
    .box-form__errors
      %h2= "#{@group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
        - @group.errors.full_messages.each do |message|
          %li
            = message
  .box-form__field
    .box-form__field--left
      = f.label :name, class: 'box-form__label'
    .box-form__field--right
      = f.text_field :name, class: 'box_name box-form__input', placeholder: "グループ名を入力してください"

  .box-form__field.clearfix
    .box-form__field--left
      %label.box-form__label{for: 'chat_group_チャットメンバーを追加'} チャットメンバーを追加
    .box-form__field--right
      %input#user-search-field.box-form__input{ placeholder: '追加したいユーザー名を入力してください'}
    .box-form__search.clearfix
      #user_search_result

  .box-form__field.clearfix
    .box-form__field--left
      %label.chat-group-form__label チャットメンバー
    .box-form__field--right
      #box-users
    #box_user_22.box_user.clearfix
      = f.hidden_field :user_ids, value: current_user.id, multiple: true
      #member_search_result
      
  .box-form__field.clearfix
    .box-form__field--left
    .box-form__field--right
      = f.submit class: "box-form__action-btn"
      
